aside {
  display: flex;
  flex-direction: column;
  flex: 6;
  justify-content: center;
  padding: 120px 80px;

  background: #835afd;
  font: #fff;

  strong {
    font: 700 36px "Poppins", sans-serif;
    line-height: 42px;
    margin-top: 16px;
  }

  p {
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
    color: #f8f8f8;
  }
}
